# Telegram bot
aiogram==3.13.1

# Database
asyncpg==0.30.0

# Blackbird core dependencies
aiohttp==3.12.13
requests==2.32.4
rich==14.0.0
python-dotenv==1.1.1
pillow==11.3.0
reportlab==4.4.2

# Utils
chardet==5.2.0
certifi==2025.6.15
